*{
  transition: 0.5s;
  margin-bottom: : 1px;
  background-size: cover;
  font-family: 'Cormorant Garamond';
  letter-spacing: 0.5px;

}
body{


  background: #eb01a5;
  background-image: url("images/wall.jpg");
  background-image: url("images/wall.jpg"), linear-gradient(#eb01a5, #d13531);
  background-size: cover;
  box-shadow: 2px 10px 10px 10px #00FFFF;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1vw;
  opacity: 1;
  //background-image: linear-gradient(to right,#D16BA5,#86A8E7,#5FFBF1);
}
#container{

  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
#text-centering{
  padding-left:  100px;
  padding-right: 100px;
}
.issue{
  text-shadow: 2px 1px 1px #ccc;

}
h1,h2,footer{
  background-image: radial-gradient(circle, #2193b0, #6dd5ed);
  padding: 10px;
  text-align: center;
  text-shadow: 2px 1px 1px #ccc;
}

#Ponder-Upon{
  color: black;
}

h1+h2{
  color: green;
  text-align: center;
}

 p strong{
     text-shadow: 2px 1px 1px #ccc;
 }

div>h3{
  text-shadow: 2px 1px 1px #ccc;
}

h3~p{
  color: 	rgb(16,16,16);
  text-shadow: 2px 1px 1px #ccc;
}

#nav{

    text-decoration: none;
    line-height: 100px;
    padding:35px 10px;
    letter-spacing: 0.5px;
    transition: 0.7s;
    border-radius: 5px;
    border-width: 3px;
    padding:15px 15px;
    background-color: black ;
    color:white;

  }

  a[href]:hover{
    border-radius: 5px;
    border-width: 3px;
    color:black !important;
    background-color: #00CED1 !important;

  }



ul::first-letter{
    font-size: 34px;
}
p::first-letter{
  font-size: 34px;
  text-shadow: 2px 1px 1px #ccc;
}
thead{
  background-color: black;
  color: white;
}
tbody {
  background-image: linear-gradient(to right,#ddd6f3,#faaca8);
}
tfoot {font-size: 10pt;
font-style: italic;}
#animation{

  width: 180px;
  height: 50px;
  font-size: 28px;
  background-color: red;
  position: relative;
  animation-name: slider;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  text-align:center;
}

@keyframes slider {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:250px; top:0px;}
  50%  {background-color:blue; left:500px; top:00px;}
  75%  {background-color:green; left:750px; top:00px;}
  100% {background-color:red; left:84.3%; top:0px;}

}
